
lab1/lab1/.vs/lab1/project-colors.json
lab1/lab1/.vs/lab1/v17/.suo
lab1/lab1/.vs/lab1/v17/Preview/Browse.VC.db
lab1/lab1/.vs/lab1/v17/Preview/Browse.VC.db-shm
lab1/lab1/.vs/lab1/v17/Preview/Browse.VC.db-wal
lab1/lab1/.vs/lab1/v17/Preview/Browse.VC.opendb
lab1/lab1/.vs/lab1/v17/Preview/ipch/AutoPCH/5edd663862efddc4/LAB1.ipch
lab1/lab1/.vs/lab1/v17/Preview/ipch/AutoPCH/e4e927ba593054a6/LAB1.ipch
lab1/lab1/Debug/lab1.pdb
lab1/lab1/lab1/Debug/lab1.Build.CppClean.log
lab1/lab1/lab1/Debug/lab1.exe.recipe
lab1/lab1/lab1/Debug/lab1.ilk
lab1/lab1/lab1/Debug/lab1.log
lab1/lab1/lab1/Debug/lab1.obj
lab1/lab1/lab1/Debug/lab1.obj.enc
lab1/lab1/lab1/Debug/lab1.tlog/CL.command.1.tlog
lab1/lab1/lab1/Debug/lab1.tlog/CL.read.1.tlog
lab1/lab1/lab1/Debug/lab1.tlog/CL.write.1.tlog
lab1/lab1/lab1/Debug/lab1.tlog/lab1.lastbuildstate
lab1/lab1/lab1/Debug/lab1.tlog/link.command.1.tlog
lab1/lab1/lab1/Debug/lab1.tlog/link.read.1.tlog
lab1/lab1/lab1/Debug/lab1.tlog/link.write.1.tlog
lab1/lab1/lab1/Debug/lab1.vcxproj.FileListAbsolute.txt
lab1/lab1/lab1/Debug/Tree.obj
lab1/lab1/lab1/Debug/TreeNode.obj
lab1/lab1/lab1/Debug/vc142.idb
lab1/lab1/lab1/Debug/vc142.pdb
lab1/lab1/lab1/lab1.vcxproj
lab1/lab1/lab1/Release/lab1.exe.recipe
lab1/lab1/lab1/Release/lab1.iobj
lab1/lab1/lab1/Release/lab1.ipdb
lab1/lab1/lab1/Release/lab1.log
lab1/lab1/lab1/Release/lab1.obj
lab1/lab1/lab1/Release/lab1.tlog/CL.command.1.tlog
lab1/lab1/lab1/Release/lab1.tlog/CL.read.1.tlog
lab1/lab1/lab1/Release/lab1.tlog/CL.write.1.tlog
lab1/lab1/lab1/Release/lab1.tlog/lab1.lastbuildstate
lab1/lab1/lab1/Release/lab1.tlog/link.command.1.tlog
lab1/lab1/lab1/Release/lab1.tlog/link.read.1.tlog
lab1/lab1/lab1/Release/lab1.tlog/link.write.1.tlog
lab1/lab1/lab1/Release/vc142.pdb
lab1/lab1/Release/lab1.pdb
*.pdb
*.recipe
*.exe
*.exe
*.pdb
*.ilk
*.log
*.obj
*.tlog
*.idb
*.pdb
*.exe
*.vcxproj
*.recipe
*.ipdb
